<%= render "partial/navbar" %>

<div class="container">
      <div class="page-header">
        <h1 id="timeline">Help!</h1>
        <h1 id="timeline">Helper</h1>
      </div>
      <ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Help!を出そう</h4>
            </div>
            <div class="timeline-body">
              <p>あなたには悩みや、困っていることはありますか？時間がないから代わりに犬の散歩をして欲しい。引越しの手伝いをして欲しい。庭の掃除をして欲しい。webサイトを作ってくれないか。困っている事があればなんでもOKです！募集期限、形式、カテゴリー、金額を選択して、Help!を出しましょう！</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Help!を探す</h4>
            </div>
            <div class="timeline-body">
              <p>Help一覧、を使って自分なら解決できる！と思うHelp!を探してみましょう。カテゴリー検索もできるので自分が得意な分野から探してみるのもいいですね！</p>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">提案する・メッセージをする</h4>
            </div>
            <div class="timeline-body">
              <p>Help一覧や検索から、自分が解決できるhelpを見つけたらそのHelpに対しての解決案を提案してみましょう</p>
            </div>
          </div>
        <li>
          <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">承認する</h4>
            </div>
            <div class="timeline-body">
              <p>提案されたら、メッセージのやり取りをしてみて自分のHelpが解決できそう！と思ったらその提案を承認しましょう</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">お金を支払ってHelp!当日です</h4>
            </div>
            <div class="timeline-body">
              <p>Help!へのお金を振り込んだらHelp当日です！自分のHelp!が解決できる素敵な時間になるといいですね！</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Help!当日です</h4>
            </div>
            <div class="timeline-body">
              <p>Help当日は相手の抱える問題や悩みを解決できるように力を尽くしましょう！</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">レビューを書きましょう</h4>
            </div>
            <div class="timeline-body">
              <p>Helpしてもらった後はレビューを書きましょう！良いレビューの数が多いとみなさんからの信頼にもつながりますよ！</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">出勤申請・振込</h4>
            </div>
            <div class="timeline-body">
              <p>Helpをして頂いた後は,マイページに仮売上が反映されます。Helpしたお客様からレビューを書いてもらう事で実際の売上が反映されます。反映後に、自分のページから出金申請をしてもらうと出金申請から○○時間以内でお客様指定の口座に振り込まれます。なお振込手数料は○○円です。また、当社のサービス利用料が15%になります。</p>
            </div>
          </div>
        </li>
      </ul>
    </div>