<%= render "partial/navbar" %>


    <div class="main">
      <div class="title">
        <h2>特定商取引法に基づく表記</h2>
      </div>
    <div class="main-contents0">
      <div class="container0">
        <div class="subtitle">
        販売業者
        </div>
        <div class="contents0">
        伊豆野純平
        </div>
      </div>
      <div class="container0">
        <div class="subtitle">
        販売責任者
        </div>
        <div class="contents0">
        伊豆野純平
        </div>
      </div>
      <div class="container0">
        <div class="subtitle">
        所在地
        </div>
        <div class="contents0">
        〒166-0004 東京都杉並区阿佐ヶ谷南1-3-12 ヴォーガコルテ302
        </div>
      </div>
      <div class="container0">
        <div class="subtitle">
        連絡先
        </div>
        <div class="contents0">
        080-8358-8254&nbsp;/&nbsp;<a href="#" class="question">お問い合わせフォーム</a>からお問い合わせください
        </div>
      </div>
        <div class="container0">
        <div class="subtitle">
        支払い方法
        </div>
        <div class="contents0">
        aaaaaaaa
        </div>
      </div>
        <div class="container0">
        <div class="subtitle">
        販売価格
        </div>
        <div class="contents0">
        Help毎に表示された金額とします（表示価格は消費税込みの価格ななります）
        </div>
        </div>
        <div class="container0 etc">
        <div class="subtitle">
        商品価格以外に必要な料金
        </div>
        <div class="contents0">
        サービス利用料金(購入申し込み時に、Help発行者から1決済あたり15%をサービス利用料金としてお支払い頂きます。)通信費
        </div>
      </div>
        <div class="container0 time-span">
        <div class="subtitle">
        商品の提供時期
        </div>
        <div class="contents0">
        Help購入時に指定した日時
        </div>
        </div>
        <div class="container0">
        <div class="subtitle">
        支払い時期
        </div>
        <div class="contents0">
        Helpが購入された後
        </div>
        </div>
        <div class="container0">
        <div class="subtitle">
        キャンセル時の対応
        </div>
        <div class="contents0">
        Help購入後のキャンセルは原則できません。詳しくは利用規約のキャンセルについてを参照ください
        </div>
        </div>
        <div class="container0">
        <div class="subtitle">
        個人情報の取り扱いについて
        </div>
        <div class="contents0">
        個人情報の取り扱いに関しては、プライバシーポリシーをご参照ください
        </div>
        </div>
    </div>
    </div>
  