<%= render "partial/navbar" %>

<div class="container-fluid">
  <div class="row o-3column">
    <div class="col-md-3 col-sm-3 hidden-xs">
      
    </div>

    <div class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
        通知
      </div>
        <div class="panel-body">
        <% @notifications.each do |notification| %>   
        <%= notification.content %>   
        <div class="pull-right">
        <%=notification.created_at.strftime('%Y/%m/%d') %>
        </div>
        <hr>     
        <% end %>            
      </div>
    </div>
    </div>

    <div class="col-md-2 col-sm-2 col-xm-12">
      
    </div>
  </div>
</div>

