<%= render "partial/navbar" %>

<div class="top-wrapper">
        <h1 class="title">プライバシーポリシー</h1>
      <div class="container1">
        <p>Help!（以下「本サービス」）は、本サービスを利用する 全ての方（以下「利用者」といいます）のプライバシーを尊重するために、 利用者の個人情報を以下の定義に従い、個人情報の適切な取り扱いに取り組んでまいります。お客様が、本ウェブサービスのご利用をされるためには、下記「お客様情報の取扱規定（プライバシーポリシー）」を熟読のうえ、内容に同意していただく必要があります。同意いただけない場合は、本ウェブサイト等へのアクセス及び本サービスのご利用はお断りします。</p>
        <h3>●個人情報とは</h3>
        <p>当サイトにおいて、「個人情報」とは、個人情報保護法にいう「個人情報」を指すものとし、生存する個人に関する情報であって、当該情報に含まれる氏名・生年月日・住所・電話番号・電子メールアドレス等により特定の個人を識別できる情報をいいます</p>
        <h3>●個人情報の取得・利用目的</h3>
        <p>当サイトにおいて、当社は、以下の目的のため、個人情報を適法かつ公正な手段で取得・保有・利用させていただきます。
    <ol>
    <li>本サービスならびにその他本サービスに関連する情報の提供のため</li>
    <li>ユーザーの本人確認のため</li>
    <li>本サービスの運営・管理のため</li>
    <li>本取引・本サービスのご請求、お支払いとその確認をするため</li>
    <li>本サービスの運営上必要な事項の通知</li>
    <li>本サービス及び他当社のサービスについての研究、調査、開発のため。</li>
    <li>アフターサービス、各種問い合わせ対応のため</li>
    <li>本サービスの利用規約に反するお客様のご利用を防止又は停止するため</li>
    <li>その他当社と合意した目的で使用するため</li>
    <li>上記の利用目的に付随する目的</p>
    </ol>
        <h3>●個人情報の第三者への委託・提供について</h3>
        <p>本サービスは、以下に定める場合を除いて、事前に利用者本人の同意を得ず、利用目的の達成に必要な範囲を超えて個人情報を利用または共有することはありません。ただし、個人情報保護法その他の法令で認められる場合を除きます。
    <ol>
    <li>法令に基づく場合</li>
    <li>利用者の皆様の同意があった場合</li>
    <li>人の生命、身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難である場合</li>
    <li>クレジットカード会社、その他金融機関に対する照会をする場合</li>
    <li>合併、売却、事業譲渡又はその他の事由による事業の承継に伴って個人情報を提供する場合</li>
    </ol>
        <h3>●プライバシーの更新について</h3>
        <p><本サービスは、個人情報の保護を図るため、必要に応じて、本プライバシーポリシーを改訂することができるとします。改訂の際は、本ページに改訂の旨を掲載致します。なお、プライバシーポリシー改訂後にユーザーが当サイトを利用した場合には、当該改訂に同意したものとみなします。プライバシーポリシーに関するお問い合わせ</h3>
        <p>本プライバシーポリシーに関するお問い合わせは下記までお願い致します。</p>
        <a href="#" >help.human.trouble@gmail.com</a>
    </div>
  </div>