<%= render "partial/navbar" %>


  <div class="title">
    <h1>利用規約</h1>
  </div>
  <div class="contents">
    <h4>はじめに</h4>
    <p>本サイトの利用につきましては、本規約に必ず同意の上ご利用ください。</p>
    <h4>第1条&thinsp;&thinsp;本規約の適用</h4>
    <p><ol>
    <li>本規約は弊社と弊社が提供するサービス「商品」と本サービスを利用する全ての登録ユーザーの間の一切の関係に適用するものとします
    </li>
    <li>弊社が弊社ウェブサイト上で掲載する本サービスの利用等に関するルール、規定等は本規約の一部を構成するものとします
    </li>
    <li>
      弊社は運営を円滑にし、サービスの向上のため等必要に応じて本規約を適宜変更を行う事があります。変更の際は、本サイトに変更の旨をユーザーに通知でお知らせいたします。当該通知後に本サービスをご利用頂いた場合、ユーザーは本サービスに同意したものとみなします。
    </li>
    </ol></p>
    <h4>第2条&thinsp;&thinsp;用語の定義</h4>
    <p>本規約において使用する次の用語の定義は、次の各号の定めるとおりにします
      <ol>
      <li>「当サイト」：当サイトは弊社がインターネット上で提供する「商品」をさします。又、後に定義する本サービスも語意に含みます。
      </li>
      <li>「本サービス」：本サービスとは依頼者が自身の悩み、問題を解決してくれる応募者を商品を投稿する事で、集める事をできるHelp!という名称のサービスの事をいいます（本サービスの名称又は内容が変更された場合は、変更後のサービスを含みます）。
      </li>
      <li>「ユーザー」：会員登録をしているしていないに関わらず、弊社のウェブサイトを閲覧し、サービスを受けようとする個人又は法人をいいます。
      </li>
      <li>「登録ユーザー」：弊社が規定した会員登録を行ったユーザーをいいます。
      </li>
      <li>「依頼者」：本サービスにおいて商品を投稿するユーザーをいいます。
      </li>
      <li>「応募者」：本サービスにおいて、依頼者の商品に対して、応募するユーザーをいいます。
      </li>
      <li>「応募」：本サービスにおいて依頼者が投稿している商品に対して、解決策、案を提案し、商品に従事すると申し出る事。
      </li>
      <li>「商品」：本サービスにおいて、依頼者がその内容を記載した当サイト上における投稿である商品をいいます。
      </li>
      <li>「決済」：Help!実施前に応募者が弊社に支払いをし、Help!完了の後に依頼者が売上の出勤申請を経て弊社から報酬が支払われることをいいます。
      </li>
      <li>「購入」：応募者が依頼者が発行する商品を購入する事をいいます。
      </li>
      <li>「登録情報」：会員情報登録時にユーザーご自身が手動で入力・提供した全ての情報をいいます。
      </li>
      <li>「個人情報」：住所、氏名、メールアドレス等、個人を特定できる情報をいいます。
      </li>
      <li>「パスワード」：パスワードとは、ユーザーが会員情報登録時に自身が任意に登録するパスワードを意味し、当サイトにログインする際に認証が必要になるものです。
      </li>
      <li>「知的財産権」：特許権、特許を受ける権利、実用新案権、実用新案権登録を受ける権利、意匠権、意匠権登録を受ける権利、著作権、商標権その他の知的財産権に関して、法令に定められた権利又は、法律上保護される権利にかかります。
    </ol></p>
    <h4>第3条&thinsp;&thinsp;会員登録</h4>
    <p><ol>
      <li>本サービスの利用を希望する者は（以下、「登録希望者」といいます。）本規約を遵守する事に同意し、弊社の定める一定の情報（登録希望者が会員登録する際に入力、又は提供する情報の事を以下。「登録情報」といいます。）を、弊社の規定する方法で弊社に提供する事で、本サービスの利用にかかる会員登録を申請するものとします。
      </li>
      <li>登録の申請は本サービスにかかる個人又は法人が自身で行わなければなりません。又、申請の際は、真実かつ最新の情報と提供しなければなりません。
      </li>
      <li>弊社は以下に定める各号の事由に一つでも該当する場合は当該登録を拒否できるものとします。
      </li>
      <p>
        ⑴本規約を違反する恐れがあると弊社が判断した場合<br>
        ⑵弊社に提供された情報の全て、あるいは一部に虚偽、記載漏れ、誤記があった場合<br>
        ⑶満18歳未満の場合。満18歳以上で未成年の場合で親権者の同意なしに登録をしていた場合<br>
        ⑷過去に本サービスの利用登録を取り消された者である場合<br>
        ⑸申込者が既に自身の会員登録を済ませ、二重に登録している場合<br>
        ⑹反社会的勢力等（暴力団、暴力団員、右翼団体、その他これに準ずる者意味する。）である。もしくは、反社会的勢力に何らかの関わりがあると弊社が判断した場合<br>
        ⑺その他、弊社が会員登録を適当でないと判断した場合
      </p>
      <li>弊社は、前項を含む弊社の判断に従って、その登録の可否を判断し、弊社が登録可能と判断した場合、通知によりユーザーにその旨を通達し、それにより本サービスへの会員登録が完了したものとします。
      </li>
      <li>弊社は一度、会員登録を認めたユーザーであっても、前項への一致内容の発見あるいは、その他の利用規約違反、法的違反行為があると判断した場合、登録ユーザーに通知無しにその登録を取り消し、又は本サービス利用の停止をできる事とします。又、利用登録、又はサービスの停止によりユーザーに何らかの不利益が生じ他場合でも、弊社はその責任の一切を負いません。
    </ol></p>
    <p></p>
    <h4>第4条&thinsp;&thinsp;ユーザーID及びパスワードの管理</h4>
    <p><ol>
      <li>ユーザーは、自己の責任において自身のユーザーID及びパスワードを管理するものとし、これを第三者に利用させる行為又は売買をしてはいけません。ユーザーのIDを第三者が使用し、何らかの損害が生じた場合でも、弊社はその利用を本人がしたものとみなし、その責任の一切を負いません。
      </li>
      <li>登録メンバーはユーザーID及びパスワードが盗まれた場合、あるいは第三者に使用されている事が判明した場合は直ちに弊社に通達し、弊社の指示に従う者とします。
      </li>
    </ol></p>
    <h4>第5条&thinsp;&thinsp;支払い方法</h4>
    <p><ol>
      <li>契約に関する金銭の支払いについてはクレジットカード決済が可能です。弊社が指定する決済サービス以外の決済は認められません。
      </li>
      <li>商品代金の支払いに関しては利用ガイドに定めるものとします。
      </li>
      <li>本サービスを利用しての応募者に対しての金銭の支払いは弊社が代行します。Help!の依頼を投稿する際に契約金額を設定し、弊社に対して支払った事で契約成立とします。
      </li>
      <li>応募者に対する弊社からの振込手数料は応募者が負担するものとし、振込金額の3.6％にあたります。
      </li>
      <li>ユーザー間で本契約に関する報酬を直接授受することを禁止します。
      </li>
      <li>本条に基づき、当事者間での支払いに関しては弊社は一切責任を負わないものとします。
      </li>
    </ol></p>
    <h4>第6条&thinsp;&thinsp;登録情報の変更</h4>
    本サービスを利用している登録ユーザーは、登録情報に変更があった場合、直ちに自身の会員情報変更画面から登録の変更をするものとします。また、会員画面から変更できない項目に関しては変更の内容とその旨を弊社に連絡する事とします。
    <p></p>
    <h4>第7条&thinsp;&thinsp;退会</h4>
    <p><ol>
      <li>登録ユーザーは弊社が規定する手続きを経て、退会が可能です。退会の際は弊社まで連絡するものとします。ただし依頼を受けている未完了の商品がある場合は退会できません。又、依頼を出している商品は退会と同時に全て削除されます。
      </li>
      <li>退会の際に弊社、又はHelp!がされた後に、応募者に対して未払金がある場合は直ちに納金するものとします。納金が確認されるまで、退会することはできません。
      </li>
      <li>退会に伴い登録ユーザー発生した損害については弊社は一切の責任を負いません。
      </li>
      <li>弊社は退会したユーザーの個人情報や登録情報、また商品に関するデータの一切などを保持する義務はないとします。
      </li>
      </ol></p>
    <h4>第8条&thinsp;&thinsp;登録ユーザーの利用停止</h4>
    <p>弊社又はHelp!従事者に対して依頼主が自身で指定した金額を納金していない場合、一時サービスの利用を停止させて頂きます。又、納金が確認されるまで、サービスの利用は不可能です。場合によっては利用登録情報の取消もできるものとします。
    </p>
    <h4>第9条&thinsp;&thinsp;登録取消等</h4>
    <p>
      本サービス利用ユーザーは、本サービスを利用する際に、本規約を遵守するものとします。弊社は本サービス利用ユーザーがこれに違反する行為または以下に該当する行為をしたと判断した場合はユーザーに事前に通知すること無く、サービスの利用停止、又は登録の取消処分をできるものとします。
    <ol>
    <li>本規約で定める規定のいずれかに反した場合
    </li>
    <li>会員登録情報の全部又は一部に虚偽が判明した場合
    </li>
    <li>弊社、又はその他第三者の損害を生じされる恐れがある方法で本サービスを利用した場合
    </li>
    <li>本サービスの運営の妨害をした場合
    </li>
    <li>登録ユーザーが過去に登録取消処分を受けたことが判明した場合
    </li>
    <li>支払停止もしくは支払不能、又は破産、特別清算開始、会社更生手続開始、民事再生手続開始及びその他これらに準じる手続の開始申立てがあったことが判明した場合
    </li>
    <li>自ら振出し、もしくは引受けた手形又は小切手につき、不渡りの処分を受けた場合
    </li>
    <li>差押、仮差押、仮処分、強制執行又は競売の申立てがあった場合
    </li>
    <li>租税公課の滞納処分を受けた場合
    </li>
    <li>死亡した場合又は後見開始、保佐開始若しくは補助開始の審判を受けた場合
    </li>
    <li>第三条、第三項各号に該当する行為
    </li>
    <li>その他弊社が登録ユーザーとして会員継続が適切でないと判断した場合
    </li>
    </ol>
    弊社は、本規約に基づき弊社が行った行為により登録ユーザーに生じた損害について一切の責任を負いません
    </p>
    <h4>第10条&thinsp;&thinsp;本サービスの利用</h4>
    <p><ol>
      <li>登録ユーザーは弊社の定める利用規約、又は法的に違反しない範囲内で弊社の定める方法に従い、本サービスを利用する事ができます。
      </li>
      <li>本サービスの利用は登録ユーザーご自身が行なうものとし、情報の提供は真実、又最新のものでなければなりません。
      </li>
      <li>本サービスを受けるのに必要な通信機器、インターネット環境などはユーザーの費用で責任をもって利用することとします。
      </li>
      <li>本サービス利用会員が未成年の場合は必ずその親権者もしくは法的代理人や後見人等の本人の行為の責任を法的に負う事がきる第三者の承諾を必要とし、Help!に従事する際はこちらから改めて確認が入る場合がございます。
      </li>
    </ol></p>
    <h4>第11条&thinsp;&thinsp;本サービスの利用料金</h4>
    <p>本サービス利用に関して、消費者勢を含む契約報酬の16.4%相当金額（以下「本サービス利用料金」とします）を弊社に支払うとします。また振込手数料として別途3.6%が必要となります。本サービス利用料金は応募者が依頼者との提案・メッセージの送受信を経て契約が締結した時点で発生するものとします。</p>
    <h4>第12条&thinsp;&thinsp;禁止事項</h4>
    <p>登録ユーザーは本サービスの利用について以下に該当する行為をした場合はユーザーに事前に通知すること無く本サービスの利用を停止、又は登録取消をできるものとします。
    <ol>
      <li>弊社又は、他のユーザー、その他の第三者の権利（プライバシーの権利、知的財産権、肖像権等）の一切の権利及び利害を侵害する行為
      </li>
      <li>犯罪行為、又は犯罪予告など犯罪を引き起こす可能性のある一切の行為、又公序良俗に反する行為
      </li>
      <li>異性との交際をの目的とした本サービスの利用
      </li>
      <li>弊社のサーバー又はネットワークの機能を破壊したり妨害する行為、それらの恐れがある一切の行為。
      </li>
      <li>本サービスを利用したマルチ商法やそれに類似した行為
      </li>
      <li>弊社のサービスの運営を妨害する恐れがある行為
      </li>
      <li>弊社又は第三者の誹謗中傷行為
      </li>
      <li>第三者になりすまして本サービスを利用する行為
      </li>
      <li>出会い系サービス、マッチングサービスへの勧誘行為、関連のある一切の行為
      </li>
      <li>ポルノ、売春、風俗、これらに関する内容の開示
      </li>
      <li>脱法ドラッグに関する行為
      </li>
      <li>宗教、宗教団体への勧誘、これらに関する行為
      </li>
      <li>情報商材を販売する行為
      </li>
      <li>ユーザーと本サービス外での取引やこれらを勧誘する行為
      </li>
      <li>ユーザーに自身の連絡先や電話番号、その他個人が分かる情報を開示し、本サービス外で連絡を取る行為
      </li>
      <li>性に関する相談、これらに関する行為
      </li>
      <li>その他弊社が不適切と判断した行為
      </li>
    </ol></p>
    <h4>第13条&thinsp;&thinsp;個人情報の取得</h4>
    <p>本サービス利用の登録ユーザーにおいては、弊社が登録ユーザーの個人情報を取得するものとし、当該個人情報につき、弊社が別途定めるプライバシーポリシーに従い、取り扱うものとする</p>
    <h4>第14条&thinsp;&thinsp;キャンセルについて</h4>
    <p><ol>
      <li>登録ユーザーが原則契約成立後の商品キャンセルはできないものとします。ただし、依頼者が成果に疑義を生じた場合で、弊社が特に認めた場合には、返品を受け付けるものとします。
      </li>
      <li>応募者の申し出によるキャンセル、もしくは規約違反及び契約に違反しキャンセルとなった場合は、応募者は本サービス利用料を弊社に支払うものとし、支払いが完了されるまでサービスの利用を停止してよいものとします。応募者の申し出によるキャンセルかの判断は弊社が行うものとし、ユーザーは弊社の判断に従うものとします。
      </li>
    </ol></p>
    <h4>第15条&thinsp;&thinsp;天災・事故等のキャンセルについて</h4>
    <p>依頼者が、天災や事故等のやむを得ない事情により、Help！の依頼を中止する場合には応募者は購入商品をキャンセルすることができるものとします。
    </p>
    <h4>第16条&thinsp;&thinsp;知的財産権</h4>
    <p><ol>
      <li>弊社ウェブサイトに及び本サービスが提供する画像、イラスト、デザイン、また機能などにかかる著作権等の知的財産権は全て弊社または弊社に対して知的財産権の提供を許諾した第三者に帰属する者とします。
      </li>
      <li>弊社ウェブサイトまたは本サービスにおいて、登録ユーザーが投稿した文章、画像、動画等のデータは弊社が無償で自由に使用で着るものとします。
      </li>
    </ol></p>
    <h4>第17条&thinsp;&thinsp;免責事項</h4>
    <p><ol>
      <li>弊社は依頼者が出す商品の信頼性や真実性、適切性などその他一切の保証はしないものとし、商品の依頼者、応募者の当事者間での問題について一切の責任を負いません。
      </li>
      <li>登録ユーザーが本サービスを利用する事で、他のユーザー又は第三者に対し、何らかの損害を与えた場合、ユーザーは自己の責任と費用で賠償するものとし、これらの不利益や損害について弊社は一切の責任を負いません。
      </li>
      <li>弊社は本サービスを利用するユーザー間での個別契約を管理する者ではなく、契約によって生じた一切の不利益・損害について責任を負いません。
      </li>
      <li>本サービス上でやりとりされるメッセージや送受信されるファイルに個人情報等が含まれていた場合、それによってメンバーが不利益・損害を被ったとしても、弊社は一切責任を負いません。
      </li>
      <li>弊社は、ユーザーが本サービス上で、登録した情報やファイル等のデータについて適切に保管する義務はなく、弊社データが何らかの原因により漏洩、破損したとしても弊社は一切責任を負いません。
      </li>
    </ol></p>
    <h4>第18条&thinsp;&thinsp;サービスの停止・終了</h4>
    <p><ol>
      <li>弊社はシステム障害や停電、火事または地震などの天災、もしくは技術上運営が困難だと弊社が判断した場合、弊社はユーザーに事前に通知する事なくサービスの停止を行う場合があります。
      </li>
      <li>弊社の本サービスの停止・終了によりユーザーに不利益や損害が生じたとしても弊社は一切の責任を負いません。
      </li>
      <li>弊社は本サービスの終了をユーザーに事前に通知した上てできるものとします。また、サービスの終了によって不利益が出たとしても弊社は責任を負いません。
      </li>
    </ol></p>
    <h4>第19条&thinsp;&thinsp;通知又は連絡について</h4>
    <p><ol>
      <li>弊社がメンバーへの連絡又は通知の必要がある場合には、登録されたメールアドレス宛にメールするか、登録された電話番号に架電する事とし、これにより通知がされたとみなします。
      </li>
      <li> 登録ユーザーが弊社に通知、連絡、問合せをする必要が生じた場合、弊社が提供するウェブサイト上の問い合わせフォームをもって行うこととします。
      </li>
    </ol></p>
    <h4>第20条&thinsp;&thinsp;権利義務の譲渡の禁止</h4>
    <p>登録ユーザーは弊社に事前の承諾なく、サービス利用契約上の地位、または本規約に基づく権利もしくは義務につき、第三者に対し、譲渡、移転、担保設定、その他の処分をすることができません。
      </p>
    <h4>第21条&thinsp;&thinsp;準拠法</h4>
    <p>本規約の解釈にあたっては、日本法を準拠法とします。</p>
    <h4>第十八条&thinsp;&thinsp;裁判管轄</h4>
      <p>本サービスに関して紛争が生じた場合には，東京地方裁判所を第一審の専属的合意管轄裁判所とします。
      </p>
    <h4>第22条&thinsp;&thinsp;協議解決</h4>
    <p>弊社及び登録ユーザーは、本規約の解釈に疑義が生じた場合には、互いに信義誠実の原則に従って協議の上迅速に解決を図るものとします。</p>
    <h5>以上</h5>
  </div>
